<template name="footer">
  <footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <small>
                    Made By <a href="https://nl.linkedin.com/in/jorisbontje" target="_blank">Joris Bontje</a>
                    &nbsp;-&nbsp;
                    <i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;<a href="https://github.com/EtherCasts/state-of-the-dapps" target="_blank">Fork me on GitHub</a>
                    &nbsp;-&nbsp;
                    Send updates to <a href="mailto:dapps@ethercasts.com">dapps@ethercasts.com</a>
                </small>
            </div>
        </div>
    </div>
  </footer>
</template>
