.dark-green{
	background-color: #3B6C4F;
}

.med3-green{
	background-color: #5D8232;
}

.med2-green{
	background-color: #81A25A;
}

.med1-green{
	background-color: #77B28E;
}

.light-green{
	background-color: #609D79;
}

.white-green{
	background-color: #70A786;
}

.red-1{
	background-color: #FD5C63;
}

.red-2{
	background-color: #FD797F;
}

.yellow-1{
	background-color: #F2E230;
}

.cream{
	background-color: #FFF6E6;
}

.input-field{
	background-color: #FFF6E6;
	border-radius: 10px;

}