.truncate{
  max-width:100%;
}

/* fix input label receiving click events */
.input-field label{
  pointer-events:none;
}

/* fix modal positioning with react container */
#react-root > div{
  position: relative;
}

.slim-row{
  margin-bottom:0;
}

/* better modal positioning */
.modal{
  max-height: 80%;
  /* fix scrollbar not showing on osx */
  &::-webkit-scrollbar {
      width: 14px;
      height: 18px;
  }
  &::-webkit-scrollbar-thumb {
      height: 6px;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: 7px;
      background-color: rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
  }
  &::-webkit-scrollbar-corner {
      background-color: transparent;
  }
  .input-field input[type=text]{
    margin-bottom:10px;
  }
  .input-field .character-counter{
    margin-top:-5px;
  }
  /* 3d transform modal contents for mobile smoothness when scrolling */
  *{
    transform: translate3d(0, 0%, 0);
  }
}

/* custom column rules */
@media only screen and (max-width: 690px) {
  .row .col.ms12{
    width:100%;
  }
}

/* custom xl2 rule */
@media only screen and (min-width: 1440px) {
  .row .col.xl2{
    width:16.6666%;
  }
}

/* custom xxl1 rule */
@media only screen and (min-width: 2600px) {
  .row .col.xxl1{
    width:8.3333%;
  }
}
